.image {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5pm;
    padding: 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.image:hover {
    transform: scale(1.05);
}

.image h1.image-name {
    font-size: 8px;
}