.button-container {
  min-width: 165px;
  width: auto;
  height: 36px; /* Set the desired height */
  letter-spacing: 0.5px;
  line-height: normal; /* Ensure line height doesn't affect button height */
  padding: 0 15px; /* Adjust padding to match other components */
  font-size: 15px;
  background-color: #9fc7f3; /* Blue background color */
  color: #433d3d;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: white;
    border: none;
  }

  &:disabled {
    background-color: #cccccc; /* Grey background when disabled */
    cursor: not-allowed;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;

    &:hover {
      background-color: #e6f2ff; /* Light blue on hover */
    }
  }
}
