/* src/components/state/state-details.styles.css */
.state-details {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.state-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.state-image-list {
  width: 300px;
  overflow-y: auto;
}

.state-scene {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.state-scene img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.highlight {
  border: 2px solid rgba(255, 255, 255, 0.8); /* white outline */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.8); /* black outline */
  background-color: rgba(255, 0, 0, 0.3); /* semi-transparent red background */
  position: absolute;
  pointer-events: none;
}
