.state-details {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.state-details .MuiGrid-container {
  flex-grow: 1;
  height: calc(100% - 50px); /* Adjust based on the height of StateDetailsButtons */
}

.state-details .MuiGrid-item {
  height: 100%;
}

.state-details .MuiPaper-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}