/* state-image.styles.css */
.state-image {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 8px; /* Adjust the font size of h1 elements */
}

.state-image h3 {
  margin: 0 0 5px 0;
}

.state-image p {
  margin: 0;
}

